extends ../../layouts/default.pug

block style
    link(rel="stylesheet" href="/css/cart-checkout.css")

block main
    .container.my-3
        .row
            .col-12
                h1(class="text-center") Đặt hàng thành công!
                p(class="text-center") Cảm ơn bạn đã mua hàng tại cửa hàng của chúng tôi. Chúng tôi sẽ liên hệ với bạn qua email sau khi nhận được đơn hàng.
                a(href="/" class="btn btn-primary d-block mx-auto") Quay lại trang chủ